input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .title_list {
        font-size: 20px;
    }

    .title_list h1 {
        font-size: 20px;
    }

    .title_list a {
        font-size: 10px;
    }

}

.title_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: palevioletred; */
}

.title_list select {
    width: 350px;
}

.title_list a {
    font-weight: bold;
}

.table-score {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 80%;
}

.table-score th {
    background-color: #00BFFF !important;
    font-weight: normal;
    padding: 0.5rem;
}

.table-score td {
    border: 2px solid rgb(203, 213, 225);
    padding: 3px;
}

.table_export {
    width: 900px;
    /* width: auto;  */
    border-collapse: unset;
}

.table_export th {
    font-weight: normal;
}

/* CSS */
.table_student {
    border-collapse: collapse;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 10px; */
    width: 100%;
}

.table_student th,
.table_student td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.table_student tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


.table-score {
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 10px; */
    width: 80%;
}

.table-score th {
    background-color: cyan;
    padding: 5px;
    border: 1px solid black;
}

.table-score td {
    /* background-color: greenyellow; */
    padding: 5px;
    border: 1px solid black;
}

.table-content h5 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table-content h6 {
    font-weight: bold;
    font-size: 0.75rem;
    width: 80%;
    color: white;
    background: rgb(0, 128, 239);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.table-content h5 {
    font-weight: bold;
    font-size: 0.75rem;
    width: 80%;
    color: white;
    background: rgb(0, 128, 239);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    margin-bottom: 0px !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}