@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.infor {
  /* background-color: red; */
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.card-item {
  max-width: 15rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}